# Summer Olympics Data Analysis Assignment

In [11]:
import pandas as pd

In [12]:
df=pd.read_csv("summer.csv")
df.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

### 1. In how many cities Summer Olympics is held so far?

In [13]:
len(df["City"].unique())

22

### 2. Which sport is having most number of Gold Medals so far? (Top 5)

In [14]:
gold=df[df["Medal"] == "Gold"]
sports = gold["Sport"].value_counts()
sports[:5]

Aquatics      1421
Athletics     1215
Rowing         890
Gymnastics     820
Fencing        552
Name: Sport, dtype: int64

### 3. Which sport is having most number of medals so far? (Top 5)

In [15]:
df["Medal"].unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [16]:
medals=df["Sport"].value_counts()
medals[:5]

Aquatics      4170
Athletics     3638
Rowing        2667
Gymnastics    2307
Fencing       1613
Name: Sport, dtype: int64

### 4. Which player has won most number of medals? (Top 5)

In [17]:
players=df["Athlete"].value_counts()
players[:5]

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
SHAKHLIN, Boris         13
MANGIAROTTI, Edoardo    13
Name: Athlete, dtype: int64

### 5. Which player has won most number Gold Medals of medals? (Top 5)

In [19]:
players_gold = gold["Athlete"].value_counts()
players_gold[:5]

PHELPS, Michael     18
SPITZ, Mark          9
LATYNINA, Larisa     9
LEWIS, Carl          9
NURMI, Paavo         9
Name: Athlete, dtype: int64

### 6. In which year India won first Gold Medal in Summer Olympics?

In [20]:
gold_medals_india = df[df["Country"]=="IND"]["Year"]
gold_medals_india.iloc[0]

1900

### 7. Which event is most popular in terms on number of players? (Top 5)

In [21]:
players = df["Event"].value_counts()
players[:5]

Football            1497
Hockey              1422
Team Competition    1147
Basketball          1012
Handball             973
Name: Event, dtype: int64

### 8. Which sport is having most female Gold Medalists? (Top 5)

In [23]:
females = gold[gold["Gender"] == "Women"]["Sport"].value_counts()
females[:5]

Aquatics      589
Athletics     389
Gymnastics    268
Rowing        217
Volleyball    166
Name: Sport, dtype: int64